h3 {
    font-family: sans-serif;
    font-size: 36px;

}

nav {
    display: flex;
}
.nav_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 26px;
    text-transform: uppercase;
}
#colmar {
    font-weight: bold;
}
.nav_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo {
    height: 32px;
}

nav li {
    display: inline-block;
    text-align: right;
    width: auto;
    padding: 16px;
}

ul {
    display: inline-block;
    list-style: none;
}

